################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test/v16
/.vs
/Azure/bin/Debug/netcoreapp3.0
/Azure/.vs/Azure
/Azure/obj
/Azure.Test
/Azure/bin/Release/netcoreapp3.0
/Azure/Properties/PublishProfiles
